@use '../utils' as *;

/*=============================
    21. Brand
===============================*/
.brand {
    &-area {
        padding: 56px 0;
    }
    &__area {
        &-two {
            padding: 90px 0;
            @media #{$xs} {
                padding: 70px 0;
            }
        }
        &-four {
            padding: 76px 0;
        }
        &-five {
            background: var(--tg-color-gray-3);
            padding: 90px 0;
        }
        &-six {
            background: var(--tg-color-gray-6);
            padding: 77px 0;
        }
        &-seven {
            padding: 0 0 120px;
            border-bottom: none;
            @media #{$xs} {
                padding: 0 0 100px;
            }
        }
        &-eight {
            background: var(--tg-heading-color);
            padding: 55px 0;
        }
    }
    &-item {
        min-height: 46px;
        @include flexbox();
        align-items: center;
        justify-content: center;
        & img {
            cursor: pointer;
        }
    }
    &__content {
        text-align: center;
        margin-bottom: 50px;
        & .title {
            margin-bottom: 0;
            font-size: 32px;
            font-weight: 700;
            text-transform: capitalize;
            @media #{$xs} {
                font-size: 30px;
            }
            & span {
                display: block;
                font-size: 30px;
                font-weight: 500;
                margin-top: 10px;
                @media #{$xs} {
                    font-size: 26px;
                }
            }
        }
    }
}
